body {
    font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

  }

.header{
  font-size: 48px;
  font-weight: 900;
  background:#1F2937;
  color: #F9FAF8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 150px;
  padding-right: 150px;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
  min-width: 265px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  padding:0;
  margin:0;
  font-size: 18px;
  color: #E5E7EB;
}
  
.footer {
    height: 72px;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.intro{
  display: flex;
  flex-direction: row;
  background:#1F2937;
  font-size: 18px;
  color: #E5E7EB;
  justify-content:space-between;
  padding-top: 5%;
  padding-bottom: 5%;

}

.subtext{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  padding-left: 150px;
  min-width: 265px;
}

span.hero_main
{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 18px;
}

button {
  background-color: #3882F6;
  width: 100px;
  border-radius: 12px;
  border: 0px;
  padding: 10px;
  color: #f9faf8;;
  font-weight: 900;
  margin-top: 18px;
}

.placeholder{
  display: flex;
  align-items: center;
  margin-right: 150px;
  background: dimgray;
  padding: 50px;
}



.quote
{
  display: flex;
  flex-direction: column;
  background: #E5E7EB;
  padding: 250px;
  padding-top: 5%;
  padding-bottom: 5%;

}

.quote_content
{
  font-size: 36px;
  font-style: italic;
  color: grey;

}

.quote_by
{
  align-self: flex-end;
  font-weight: 900;

}